body {
  margin:0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
box-sizing: border-box;
}

.navbar {
overflow: hidden;
background-color: #333;
position: fixed;
top: 0;
width: 100%;
}

.navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.navbar a:hover {
background: #ddd;
color: black;
}

.header {
padding: 100px;
background-image: url("/assets/pallet.jpg");
background-repeat: no-repeat;
background-size: cover;
}

.title {
text-align: center;
color: #fff;
font-size: 75px;
}

footer {
  text-align: center;
  padding: 5px;
  background-color: #000;
  color: white;
}

iframe {
  padding-left: 100px;
  padding-top: 20px;
}

.bike {
  padding-left: 20px;
  padding-top: 20px;
  width: 800px;
}

.wheel {
  padding-left: 100px;
  padding-bottom: 50px;
}